#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todos {
  font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
  margin: 0 auto;
  width: 255px;

  &__header {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 5px;

    &-title {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      pointer-events: none;
      color: #50B810;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
  }
  }

  &__actions {
    display: flex;
    gap: 5px;

    &-img {
      border-radius: 5px;
      cursor: pointer;
      transition: .4s;

      &:hover {
        box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.311);
        border-radius: 5px;
        transition: .4s;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    margin: 8 px auto;
    height: 158px;
    border-radius: 7px;
    box-shadow: 0 0 4px 4px #F4F8FF;

    & input {
      float: left;
      margin-top: 2px;
      margin-right: 5px;
    }
}

  &__date {
    color: #50B810;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  &__title {
    text-align: justify;
    color: #3D8FEC;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: #555;
    text-overflow: ellipsis;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__tags {
    display: flex;
    gap: 5px;
  }

  &__tag:first-child {
    background-image: none;
    font-size: 12px;
    color: #fff;
    padding: 1px;
    background-color: #B233A6;
    min-width: 68px;
    height: 20px;
    border-radius: 4px;
  }

  &__tag {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(./assets/tag-background.svg);
    font-size: 12px;
    color: #616C82;
    padding: 1px;
    min-width: 72px;
    height: 20px;
    border-radius: 4px;
  }

  &__avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
  }
}